.vscode/

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.log
backup.log
.DS_Store
.idea/
*.iml
out/
build/
dist/
*.egg-info/
.env
.env.*
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.vscode-test/